<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytesprint.infrastructure.mysql.mapper.AttachmentMapper">


    <insert id="insertAttachment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `bytesprint_attachment`
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                `id`,
            </if>
            <if test="projectId!=null">
                `project_id`,
            </if>
            <if test="name!=null">
                `name`,
            </if>
            <if test="type!=null">
                `type`,
            </if>
            <if test="path!=null">
                `path`,
            </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
            <if test="id!=null">
                #{id},
            </if>
            <if test="projectId!=null">
                #{projectId},
            </if>
            <if test="name!=null">
                #{name},
            </if>
            <if test="type!=null">
                #{type},
            </if>
            <if test="path!=null">
                #{path},
            </if>
        </trim>
        )
    </insert>


    <update id="updateAttachment">
        UPDATE `bytesprint_attachment`
        SET
        <trim suffixOverrides=",">
            <if test="projectId != null">
                `project_id` = #{projectId},
            </if>
            <if test="name != null and name!=''">
                `name` = #{name},
            </if>
            <if test="type != null and type!=''">
                `type` = #{type},
            </if>
            <if test="path != null and path!=''">
                `path` = #{path},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `id` = #{id} and
        </trim>
    </update>

    <resultMap type="com.bytesprint.infrastructure.mysql.pojo.AttachmentPojo" id="AttachmentMap">
        <result property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="path" column="path"/>
    </resultMap>


    <select id="queryAttachment" resultMap="AttachmentMap">
        select
        <include refid="baseResult"></include>
        from `bytesprint_attachment`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="projectId != null">
                `project_id` = #{projectId} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="type != null and type!=''">
                `type` = #{type} and
            </if>
            <if test="path != null and path!=''">
                `path` = #{path} and
            </if>
            <if test="(_parameter instanceof com.bytesprint.infrastructure.mysql.pojo.AttachmentPojo$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="projectIdList != null">
                    `project_id` in
                    <foreach collection="projectIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="projectIdSt !=null">
                    `project_id` >= #{projectIdSt} and
                </if>
                <if test="projectIdEd!=null">
                    `project_id` &lt;= #{projectIdEd} and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName" separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName" separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="typeList != null">
                    `type` in
                    <foreach collection="typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyType!=null and fuzzyType.size()>0">
                    (
                    <foreach collection="fuzzyType" separator="or" item="item">
                        `Type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyType!=null and rightFuzzyType.size()>0">
                    (
                    <foreach collection="rightFuzzyType" separator="or" item="item">
                        `Type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="pathList != null">
                    `path` in
                    <foreach collection="pathList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyPath!=null and fuzzyPath.size()>0">
                    (
                    <foreach collection="fuzzyPath" separator="or" item="item">
                        `Path` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyPath!=null and rightFuzzyPath.size()>0">
                    (
                    <foreach collection="rightFuzzyPath" separator="or" item="item">
                        `Path` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryAttachmentLimit1" resultMap="AttachmentMap">
        select
        <include refid="baseResult"></include>
        from `bytesprint_attachment`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="projectId != null">
                `project_id` = #{projectId} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="type != null and type!=''">
                `type` = #{type} and
            </if>
            <if test="path != null and path!=''">
                `path` = #{path} and
            </if>
            <if test="(_parameter instanceof com.bytesprint.infrastructure.mysql.pojo.AttachmentPojo$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="projectIdList != null">
                    `project_id` in
                    <foreach collection="projectIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="projectIdSt !=null">
                    `project_id` >= #{projectIdSt} and
                </if>
                <if test="projectIdEd!=null">
                    `project_id` &lt;= #{projectIdEd} and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName" separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName" separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="typeList != null">
                    `type` in
                    <foreach collection="typeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyType!=null and fuzzyType.size()>0">
                    (
                    <foreach collection="fuzzyType" separator="or" item="item">
                        `Type` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyType!=null and rightFuzzyType.size()>0">
                    (
                    <foreach collection="rightFuzzyType" separator="or" item="item">
                        `Type` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="pathList != null">
                    `path` in
                    <foreach collection="pathList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach>
                    and
                </if>
                <if test="fuzzyPath!=null and fuzzyPath.size()>0">
                    (
                    <foreach collection="fuzzyPath" separator="or" item="item">
                        `Path` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="rightFuzzyPath!=null and rightFuzzyPath.size()>0">
                    (
                    <foreach collection="rightFuzzyPath" separator="or" item="item">
                        `Path` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
            `id`,
            `project_id`,
            `name`,
            `type`,
            `path`,
        </trim>
    </sql>


    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test="(_parameter instanceof com.bytesprint.infrastructure.mysql.pojo.AttachmentPojo$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                        <if test="fetchFields.fetchFields.id==true">
                            `id`,
                        </if>
                        <if test="fetchFields.fetchFields.projectId==true">
                            `project_id`,
                        </if>
                        <if test="fetchFields.fetchFields.name==true">
                            `name`,
                        </if>
                        <if test="fetchFields.fetchFields.type==true">
                            `type`,
                        </if>
                        <if test="fetchFields.fetchFields.path==true">
                            `path`,
                        </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                        <if test="fetchFields.excludeFields.id==null">
                            `id`,
                        </if>
                        <if test="fetchFields.excludeFields.projectId==null">
                            `project_id`,
                        </if>
                        <if test="fetchFields.excludeFields.name==null">
                            `name`,
                        </if>
                        <if test="fetchFields.excludeFields.type==null">
                            `type`,
                        </if>
                        <if test="fetchFields.excludeFields.path==null">
                            `path`,
                        </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                            `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.bytesprint.infrastructure.mysql.pojo.AttachmentPojo$QueryBuilder) == false">
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>